---
layout: default
---

<div class="post">
  
  {% if page.image %}.
    <img src="/assets/images/posts/{{page.image}}" alt="{{page.title}}">
  {% else %}
    <img src="/assets/images/posts/banner.jpg" alt="{{page.title}}">
  {% endif %}
  
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="post-info">
    Escrito el
    <span class="post-date">{{ page.date | date_to_string }}</span>
  </p>
  
  {{ content }}

  <hr>
  <h2>No olvides compartirlo!</h2>
  <br>
</div>
{% include disqus.html disqus_identifier=page.disqus_identifier %}
